html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.dir-container {
    color: #660000;
}

.dir-href {
    color: #0000aa;
    cursor: pointer;
}

.file-href {
    color: #4e0002;
    margin-left: 10px;
    cursor: pointer;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.popup {
    background-color: #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    width: 80%;
    height: 80%;
    position: fixed;
    text-align: justify;
    top: 50%;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
    border-radius: 11px;
}
.popup > p {
    height: 100%;
    overflow: scroll;
}
.popup pre {

}
.popup .close_window {
    width: 21px;
    height: 21px;
    position: absolute;
    padding: 0px 0px 0px 7px;
    top: -15px;
    right: -15px;
    cursor: pointer;
    color: #000;
    font-family: "tahoma",sans-serif;
    background: #F5F5F5 -moz-linear-gradient(center top , #F5F5F5, #F5F5F5) repeat scroll 0% 0%;
    border-radius: 50%;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.popup .close_window:hover {
    font-weight: bold;
    padding: 0px 0px 0px 6px;
}

.popup pre {
    overflow: scroll;
    height: 100%;
}
.popup .close_window:active {
    background: #8f9be0;
}

.action-popup {
    background-color: #F5F5F5;
    border: 1px solid;
    padding: 0px 10px;
    border-radius: 5px;
    width: 110px;
    position: fixed;
    z-index: 99999999;
    -webkit-transition: opacity .5s, top .005s;
    -moz-transition: opacity .5s, top .005s;
    -ms-transition: opacity .5s, top .005s;
    -o-transition: opacity .5s, top .005s;
    transition: opacity .5s, top .005s;
    opacity: 0;
}

.action-popup a{
display: block;
    color: #262626;
}

.hidden {
    display: none;
}